@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-robotoMono bg-primary text-white leading-loose
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}